@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,body {
    padding: 0;
    margin: 0;
  min-height:100%;
  height:100%;
  font-family: "Noto Sans Thai", sans-serif;
  font-weight:200;
  &.modal-active {
    overflow: hidden;
  }
}

p{
  margin: unset;
}
ul{
  padding-inline-start:15px;
}

  @font-face {
    font-family: 'Mohave';
    src:  url('Mohave-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.font-th{
    font-family: 'Noto Sans', sans-serif;
}
.font-eng{
    font-family: 'Mohave', sans-serif;
}

  :root {
    --maincolor:rgba(40, 101, 160, 1);
    --bluecolor:rgba(34, 169, 224, 1);
    --blackcolor:rgba(5, 24, 40, 1);
    --graycolor:rgba(96, 96, 96, 1);
    --shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --whitecolor:rgba(255, 255, 255, 1);
    --gray1color:rgba(245, 245, 245, 1);
    --blue1color:rgba(228, 244, 249, 1);
  }

 
  .head-navbar{
    position: relative;
    height: 180px;
    background-color: var(--maincolor);
    display: flex;
    padding: 0 100px;
    align-items: center;
    justify-content: space-between;
  }
  .box-logo{
    height: 70px;
    width: 20%;
  }
  .size-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .box-tapmanu{
    display: flex;
    align-items: center;
  }
  .box-search-input{
    display: flex;
    position: relative;
    align-items: center;
    width: 250px;
  }
  .sizeicon-search{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    right: 15px;
  }
  .banner-left-content{
    width: 50%;
    padding: 80px 0 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn-askmore{
    background-color: var(--bluecolor);
    height: 54px;
    font-weight: 600;
    font-size: 24px;
    width: fit-content;
    padding: 7px 23px;
    display: flex;
    align-items: center;
    border-radius: 32px;
    box-shadow: var(--shadow);
    color: var(--whitecolor);
    cursor: pointer;
  }
  .btn-iconarrow{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--maincolor);
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-sizeiconarrow{
    width: 20px;
    height: 20px;
  }
  

  input[type=text] {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 18px;
  }
 
input[type=text]:focus {
    outline: none;
  }
  .menu-nav a{
    color: var(--whitecolor);
    font-size: 1.3vw;
    padding: 0 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Mohave', sans-serif;
  }
  .menu-nav:hover{
    text-decoration: underline;
    color: var(--whitecolor);
  }
  
  .menu-nav.active{
    text-decoration: underline;
    color: var(--whitecolor);
  }
  .box-banner{
    display: flex;
    background-color: var(--maincolor);
  }
  .txt-banner1{
    color: var(--bluecolor);
    font-size: 28px;
    font-weight: 600;
  }
  .txt-banner2{
    color: var(--whitecolor);
    font-size: 32px;
    font-weight: 600;
    padding: 20px 0;
  }
  .txt-banner3{
    color: var(--whitecolor);
    font-size: 24px;
    padding-bottom: 20px;
  }
  .bg-box{
    background-color: var(-gray1color);
    width: 100%;
    height: 300px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: flex;
    position: relative;
  }
  .bg-box-pic{
    display: flex;
    border-radius: 20px;
    justify-content: end;
    width: 100%;
  }
  .content-inbox{
    width: 100%;
    position: absolute;
    z-index: 1; height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: end;
   
  }
  .name-product-inbox{
    font-size: 28px;
    color: var(--blackcolor);
    font-weight: 600;
    padding: 0 20px;
  }
  .detail-inbox{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
  }
  .name-detail{
    font-size: 24px;
    color: var(--maincolor);
  }
  .div-detail-content{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .text-seemore-home{
    color: var(--graycolor);
    font-weight: 600;
    font-size: 1.3vw;
  }
  .cirecle-seemore{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--maincolor);
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
  }
  .sixearrow-content{
 height: 40%;
  }
  .box-content{
    padding: 4% 10%;
    display: flex;
    justify-content: space-between;
  }
  .box-content-left{
    width: 38%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-image: url(./pic/homepage1.jpg);
    background-size: cover;
    flex-direction: column;
    background-position-x: -10vw;
  }
  .div-detail-content-left{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5%;
    cursor: pointer;
  }
  .text-seemore-home-left{
    color: var(--whitecolor);
    font-weight: 600;
    font-size: 1.3vw;
  }
  .name-left-inbox{
    font-size: 28px;
    color: var(--blackcolor);
    font-weight: 600;
  }
  #menu-product{
    position: relative;
}

#menu-hover{
    position: absolute;
    top: 110%;
    left: 80%;
    transform: translateX(-50%);
    z-index: 10;
    width: fit-content;
    padding: 20px;
    background-color: var(--whitecolor);
    width: 160px;
    display: none;
    color: black;
}
.text-insubmenu{
    font-size: 1.2vw;
    color: black;
    font-weight: 600;
}
.text-submenu2{
    font-size: 1.1vw;
    color: rgba(40, 101, 160, 1);
}
 
 


  /* noom start */
  .con-box{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
  }
  .con-box-l{
    width: 50%;
    margin-right: 30px;
    /* padding: 0 30px; */
  }
  .con-box-r{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .con-box-r1{
    width: 100%;
    height: 130px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .con-box-r1-boxicon{
    width: 156px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .con-icon{
    width: 60%;
    object-fit: contain;
  }
  .box-lineQR{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: absolute;
    right: 0;
  }

  .box-ft{
    width: 100%;
    padding-top: 4%;
  }
  .bro-title{
    font-size: 2vw;
    font-weight: 700;
    padding-left: 5%;
    color: #051828;
  }
  .bro-sup-title{
    font-size: 1.7vw;
    font-weight: 400;
    padding-left: 5%;
    color: var(--maincolor);
  }
  .allpro-grid{
    display: grid;
    gap: 41px;
    margin: 6% 12%;
    grid-template-columns: repeat(4, 2fr);
  }
  .allpro-grid-box{
    width: 334px;
    height: 334px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #F5F5F5;
    cursor: pointer;
  }
  .grid--auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
  }
  .img-pro{
    width: 80%;
    height: max-content;
    object-fit: contain;
  }
  .name-pro{
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 600;
    color: var(--maincolor);
    font-family: 'Mohave', sans-serif;
  }
  .box-inpro{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
    
  }
  .inpro-dt-detail{
    margin: 2% 5%;
    height: 470px;
    position: relative;
  }
  .inpro-boximg-detail{
    width: 55%;
    height: 100%;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #F5F5F5;
  }
  .inpro-boxtext-detail{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 30px 30px 0;
    background-color: #2865A0;
  }
  .inpro-boxtext-detail-in{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    color: white;
  }
  .font-size-detail{
    font-size: 0.9vw;
  }
  

  /* noom end */

  /* nice start */
.box-top-service{
  padding: 0 4%;
  padding-top: 100px;
}
.text-hd-bu{
  font-size: 40px;
  color: #22A9E0;
  font-weight: bold;
  margin-bottom: 20px;
}
.div-top-sv02{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 30vw;
  border-radius: 24px;
  background-color: #2B66A0;
}
.divsup-top-sv02_01{
  width: 40%; 
  padding: 48px;
  display: flex;
   flex-direction: column;
}
.divsup-top-sv02_02{
  font-size: 58px; color: white; font-weight: bold;
}
.divsup-top-sv02_03{
  font-size: 1.6vw; color: white;
}
.divsup-top-sv02_04{
  width: 60%; display: flex;
}
.divsup-top-sv02_05{
  width: 50%; height: 100%;
}
.divsup-top-sv02_06{
  width: 100%; height: 100%; object-fit: cover;
}
.divsup-top-sv02_07{
  width: 50%; height: 100%; border-radius: 24px;
}
.divsup-top-sv02_08{
  width: 100%; height: 100%; border-radius: 24px; object-fit: cover;
}
.box-top-service_2{
  display: flex;
  /* width: calc(100% - 160px); */
  padding: 0 4%;
  padding-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}
.divsub-top-service_2{
  width: 100%; 
  display: flex; 
  justify-content: space-between;
}
.divsub-top-service_2_1{
  width: 18vw; height: 22vw;
}
.divsub-top-service_2_2{

    flex-direction: column;
    display: flex;
    justify-content: end;
    margin-left: 2vw;
    align-items: baseline;
}
.divsub-top-service_2_3{
  font-size: 2vw; font-weight: bold; color: #2865A0;
}
.divsub-top-service_2_4{
  font-size: 1.3vw;
}
.box-mid-service{
  height: 25vw; 
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E4F4F9;
}
.divsub-mid-service_1{
  display: flex; 
  flex-direction: column; 
  width: 50%;
}
.divsub-mid-service_2{
  font-size: 3vw; color: #2865A0; font-weight: 400;
}
.divsub-mid-service_3{
  font-size: 3vw;
   color: #2865A0;
    font-weight: bold;
}
.divsub-mid-service_4{
  width: 50%; 
  display: flex;
}
.divsub-mid-service_5{
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #2865A0;
  border-radius: 24px;
  margin-bottom: 14px;
  
}
.divsub-mid-service_4_1{
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.divsub-mid-service_5_01{
width: 70%;
height: 70%;
object-fit: contain;
}
.divsub-mid-service_6{
  color: #2865A0;
  font-size: 1.1vw;
 font-weight: 400;
}
.box-bottom-service{
  display: flex;
  padding: 0 4%;
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
  gap: 15px;
}
.divsup-bottom-service{
  background-color: #2B66A0;
  height: 50vw;
  width: 532px;
  display: flex;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divsup-bottom-service_1{
color: white;
font-size: 3vw;
font-weight: bold;
margin-bottom: 15px;
}
.divsup-bottom-service_2{
  color: white;
  font-size: 1.5vw;
  font-weight: 400;
  }
  .divsup-bottom-service_3{
    width: 100%; height: 25vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .divsup-bottom-service_3_1{
    width: 100%; height: 25vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }
.footer_main{
  height: 30vh; 
  padding: 0 5%;
  align-items: center;
  gap: 10px;
  display: flex;
    background-color: #F5F5F5;
}
.footer_sub01{
  width: 25%;
  height: 121px;
  border-right: 1px solid #BCBEC0;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.footer_sub01_center{
  width: 25%;
  height: 121px;
  border-right: 1px solid #BCBEC0;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer_sub01_center_none{
  width: 25%;
  height: 121px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer_sub01_center1{
  width: 25%;
  height: 198px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer_sub02{
  font-size: 1.5vw; margin-bottom: 10px; color: #0E3356;
}
.footer_sub03{
  font-size: 0.9vw; font-weight: bold; color: #606060;
}
.footer_sub03_center{
  font-size: 0.9vw; 
  text-align: center;
  font-weight: bold;
  color: #606060;
  padding-bottom: 20px;
}
.footer_sub01_center_1{
  width: 2.5vw;
  height: 2.5vw;
  margin-bottom: 10px;
  display: flex;
    justify-content: center;
}
  /* nice end */